{% extends "base/main.html" %}
{% block content %}


<body>
  <br><br><br><br><br><br>

<h1 style="margin-left: 270px;">A bad carbon footprint is caused by our actions.. </h1>
<p class="causes">Transportation: Driving a car or taking frequent flights can contribute significantly to greenhouse gas emissions. Using public transportation, biking, or walking can help reduce the carbon footprint associated with transportation.
  <br><br>Energy Consumption: Using energy from non-renewable sources like coal, oil, and natural gas to power homes and buildings can generate significant amounts of greenhouse gas emissions. Reducing energy consumption, using renewable energy sources like solar or wind power, and adopting energy-efficient practices can help reduce emissions.
  <br><br>Food Production and Consumption: The production and transportation of food can generate significant greenhouse gas emissions. Eating a diet high in meat and dairy products can also contribute to a high carbon footprint. Choosing plant-based foods, eating locally sourced and seasonal foods, and reducing food waste can all help reduce emissions associated with food production and consumption.
  <br><br>Consumer Goods: The production and transportation of consumer goods, including clothing, electronics, and household items, can generate significant greenhouse gas emissions. Choosing products made from sustainable materials, buying secondhand or used items, and reducing overall consumption can help reduce the carbon footprint associated with consumer goods.</p>
</body>
<br><br><br><br><br>
{% endblock content %}